In [1]:
#import packages
import pandas as pd
from math import sqrt
import numpy as np
from scipy.stats import pearsonr

In [2]:
#unzip dataset and read .csv files into python 
!unzip -o -j moviedataset.zip 
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [4]:
#move (####) from the title column to a separate column labeled as year in movies dataset
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False)
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '')
movies['title'] = movies['title'].apply(lambda x: x.strip())

#separate the list of genres into separate columns in moves dataset, delete genres column 
movies['genres'] = movies.genres.str.split('|')
for index, row in movies.iterrows():
    for genre in row['genres']:
        movies.at[index, genre] = 1
movies = movies.fillna(0).drop('genres', 1)

#view movies dataset
movies.shape
movies.head()

,movieId,title,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,1995,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,1995,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,1995,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,1995,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,1995,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#clean by dropping timestap column and view ratings dataset
ratings = ratings.drop('timestamp', 1)
ratings.shape
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [84]:
class CollaborativeFiltering():
    def __init__(self, title):
        self.title = title
        self.corrlatedMovieDict = {}
        
    #create dataframe of user's inputted movies 
    def GetUserInput(self):
        UserInput = pd.DataFrame(self.title, columns=['title'])
        UserInput = pd.merge(UserInput, movies[['movieId', 'title', 'year']], on=['title']).sort_values(by=['movieId'], ascending=True)
        self.UserInput = UserInput
        return UserInput
    
    #get dictionary of 20 most correlated movies to all movies in movies dataset 
    #DO NOT RUN (takes ridiculously long time to run)
    def CalculateCorrelatedMovieDict(self):
        for movieID in movies['movieId']:
            self.CalculateSingleMovie(movieID)
        return pearsonCorrelationDict
    
    def CalculateSingleMovie(self, movieID):
        #get all users in ratings dataset who have rated inputted movie
        UserInput = ratings[ratings['movieId'] == movieID]
        UserInput = UserInput.sort_values(by='userId')
        #filter ratings data set on userId from above UserInput dataframe 
        RatingSubset = ratings[ratings['userId'].isin(UserInput['userId'].tolist())].groupby(['movieId'])
        # Sort by occurance and get top 20 movies most correlated to user inputted movies
        #top 20 movies users rating inputted movie are most likely to also rate
        RatingSubset2 = sorted(RatingSubset, key=lambda x: len(x[1]), reverse=True)
        RatingSub2 = RatingSubset2[0:20]
        #create empty correlation dictionary
        pearsonCorrelationDict = {}
        #determine Pearsons Correlation Coefficient between inputted movie's ratings (from all users) to the top 20 most correlated movies' ratings (from all users)       #comparing users' movie ratings with inputted movie ratings for common movie 
        for name, group in RatingSub2:
            group = group.sort_values(by='userId')
            temp_df = UserInput[UserInput['userId'].isin(group['userId'].tolist())]
            tempGroupList = group['rating'].tolist()
            tempRatingList = temp_df['rating'].tolist()
            pearsonCorrelationDict[name] = pearsonr(tempRatingList, tempGroupList)            
        self.corrlatedMovieDict[movieID] = pearsonCorrelationDict
        #get dataframe showing correlation with top 20 most correlated movies 
        CorrelatedMovies = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
        CorrelatedMovies.columns = ['correlationIndex', 'pValue']
        CorrelatedMovies['movieId'] = CorrelatedMovies.index
        CorrelatedMovies = CorrelatedMovies[['movieId', 'correlationIndex', 'pValue']]
        #clean CorrelatedMovies dataset my filtering out statstically insignificant (p-value of 0.1 or greater) or negatively correlated movies 
        CorrelatedMovies = CorrelatedMovies.drop(CorrelatedMovies[(CorrelatedMovies['correlationIndex'] < 0)].index)
        CorrelatedMovies = CorrelatedMovies.drop(CorrelatedMovies[(CorrelatedMovies['pValue'] > 0.1)].index) 
        return CorrelatedMovies
            
    def GetRecommendation(self):
        #create empty recommendations dataframe 
        Recommendation = pd.DataFrame(columns=['movieId', 'correlationIndex'])
        # Iterate on inputted movies and append similar movie to recommendation
        for index, row in self.UserInput.iterrows():
            movieID = row['movieId']
            #get Pearsons Correlation Coefficient from pearsonCorrelationDict
            if movieID not in Rec3.corrlatedMovieDict:
                self.CalculateSingleMovie(movieID)
            for key in self.corrlatedMovieDict[movieID]:
                movie = key
                corr = self.corrlatedMovieDict[movieID][key][0]
                Recommendation = Recommendation.append({'movieId': movie, 'correlationIndex': corr}, ignore_index=True)
        # Group by movieID and calcualte sum of Pearsons Correlation Coefficient for each movie, then sort
        RecTable = Recommendation.groupby('movieId').sum().sort_values(by='correlationIndex', ascending=False)
        #merge onto movies data set and select relevant information 
        RecTable = pd.merge(RecTable, movies, on=['movieId'])
        RecTable = RecTable[~RecTable['movieId'].isin(self.UserInput['movieId'])]
        RecTable = RecTable.rename(columns={'movieId':'MovieID', 'title':'Title', 'year':'Year', 'correlationIndex': 'SumCorrelation'})
        RecTable = RecTable[['MovieID', 'Title', 'Year', 'SumCorrelation']]
        return RecTable.head(20)

In [85]:
title = ['Sense and Sensibility', 'Nixon', 'Amityville: A New Generation', 'Mrs. Brown (a.k.a. Her Majesty, Mrs. Brown)',
         'Washington Square', 'Walk on the Moon, A', 'Matrix, The', 'Never Been Kissed', 'Carol']
Rec3 = CollaborativeFiltering(title)

In [86]:
Rec3.GetUserInput()

                                         title  movieId  year
1                                        Nixon       14  1995
0                        Sense and Sensibility       17  1995
2                 Amityville: A New Generation     1325  1993
3  Mrs. Brown (a.k.a. Her Majesty, Mrs. Brown)     1643  1997
4                            Washington Square     1650  1997
5                          Walk on the Moon, A     2570  1999
6                                  Matrix, The     2571  1999
7                            Never Been Kissed     2581  1999
8                                        Carol   133645  2015

In [87]:
Rec3.GetRecommendation()

,MovieID,Title,Year,SumCorrelation
1,260.0,Star Wars: Episode IV - A New Hope,1977,1.296299
3,318.0,"Shawshank Redemption, The",1994,1.267070
4,593.0,"Silence of the Lambs, The",1991,1.164076
5,356.0,Forrest Gump,1994,1.111057
13,608.0,Fargo,1996,0.929011
14,2396.0,Shakespeare in Love,1998,0.913877
15,2858.0,American Beauty,1999,0.874887
16,480.0,Jurassic Park,1993,0.743729
17,296.0,Pulp Fiction,1994,0.709251
18,357.0,Four Weddings and a Funeral,1994,0.691824
19,2762.0,"Sixth Sense, The",1999,0.639770
20,1721.0,Titanic,1997,0.634077
21,1270.0,Back to the Future,1985,0.617100
22,4993.0,"Lord of the Rings: The Fellowship of the Ring,...",2001,0.616678
23,5952.0,"Lord of the Rings: The Two Towers, The",2002,0.615149
24,1327.0,"Amityville Horror, The",1979,0.610184
25,527.0,Schindler's List,1993,0.600773
26,1.0,Toy Story,1995,0.589366
27,1641.0,"Full Monty, The",1997,0.550762
28,858.0,"Godfather, The",1972,0.526377

In [88]:
Rec3.corrlatedMovieDict

{14: {14: (0.9999999999999996, 0.0),
  780: (0.011906970338995711, 0.4244482686583827),
  608: (0.18333339216034472, 1.3364653482416569e-34),
  32: (0.1623622080265153, 3.659884721986378e-27),
  648: (0.1574303224956689, 4.521612691700496e-24),
  25: (0.25184715931312635, 1.1676051689057797e-59),
  736: (0.0436771366315455, 0.005675756492495774),
  36: (0.25508696320543045, 5.081978399084292e-60),
  1: (0.11079453310216043, 8.616112421788876e-12),
  260: (0.10187218650041392, 5.162920690889074e-10),
  141: (0.17270058062209556, 2.539672895687414e-25),
  6: (0.17504636188451744, 1.1136218616924531e-25),
  296: (0.149691873811593, 4.579304792125458e-19),
  733: (0.07058922089151273, 2.804444141220169e-05),
  62: (0.16676362219887278, 3.58563946782854e-23),
  95: (0.1253951230290652, 3.0915221536181497e-13),
  593: (0.14709418786324044, 1.6685639159915794e-17),
  318: (0.1293528313552187, 1.3247417243338766e-13),
  150: (0.17812439068446098, 1.4387076409948016e-24),
  356: (0.11329452983693873, 1.3802798475659231e-10)},
 17: {17: (1.0, 0.0),
  356: (0.07801354840178104, 4.992551537411003e-19),
  1: (0.19563160281125236, 2.0029652996301683e-111),
  296: (0.0391463853068614, 1.0740821040176912e-05),
  608: (0.17171644969904643, 2.051798573779544e-83),
  593: (0.09058039569512921, 5.374164617176719e-24),
  780: (0.04149909063268948, 5.038318609463105e-06),
  318: (0.1593869128186163, 7.304990688919602e-69),
  32: (0.0746813625441809, 8.071254857410941e-16),
  260: (0.12107957982891279, 4.375128728761542e-39),
  527: (0.22961147290936873, 2.960915561761847e-135),
  150: (0.21187960991606566, 5.271418612003938e-114),
  480: (0.08100320952196775, 1.2391267633542937e-17),
  590: (0.16892066537175332, 2.1858768137285334e-71),
  457: (0.14838865707829607, 4.1880266827870144e-55),
  648: (0.07785101016321275, 3.5577115839264887e-16),
  110: (0.12164988397872517, 1.0191921885618473e-36),
  357: (0.32079615393003663, 1.884884990008739e-247),
  736: (0.08803526289482924, 2.8618047849191735e-19),
  25: (0.20090636226748051, 8.514921620537634e-91)},
 1325: {1325: (0.9999999999999999, 0.0),
  260: (0.05677022400022407, 0.42933093886181034),
  1210: (0.02079439730074955, 0.7729316944193909),
  593: (0.25942635821891435, 0.000259417955207034),
  480: (0.24831114525578557, 0.0005706675511475481),
  1258: (0.25821318436987345, 0.0003596655088063633),
  1387: (0.23503178782376455, 0.0012039618793837153),
  1196: (-0.019826024219142466, 0.7893715274583661),
  1214: (0.166444018081821, 0.026816917306101546),
  1219: (0.13298073889872047, 0.07764721150398846),
  1320: (0.39619111747432134, 5.238650922968688e-08),
  1339: (0.364364508622295, 6.648196463907314e-07),
  253: (0.32839238833860573, 9.694182931879875e-06),
  1347: (0.40914131839220513, 2.0783244100353155e-08),
  589: (0.1562529634621255, 0.0400808568035581),
  1270: (0.20832969086316316, 0.006406333705966535),
  1: (0.08553986292885257, 0.2702584590118826),
  356: (0.13950304616518666, 0.07131043756659718),
  1327: (0.6101843120693334, 3.3172878191080936e-18),
  1198: (0.0856240551501093, 0.2756518316133448)},
 1643: {1643: (0.9999999999999989, 0.0),
  608: (0.1996959660786903, 5.349238537035358e-19),
  2396: (0.28340396989527544, 1.549656844653525e-36),
  1183: (0.20102879760835396, 1.982090771469514e-18),
  356: (0.12892376501498504, 2.789527939814521e-08),
  593: (0.12058472417034899, 2.2085260907529502e-07),
  1617: (0.170757640356995, 2.2055590641220508e-13),
  296: (0.055350384792681985, 0.018360546169215848),
  1721: (0.08791077166087946, 0.00018057183407374155),
  1704: (0.22749437858811583, 2.7869557659869995e-22),
  527: (0.2315429202251625, 6.175612963767244e-23),
  1265: (0.13461125852028746, 1.5335653487859877e-08),
  318: (0.18138166944149917, 2.0411615030309817e-14),
  17: (0.33485132091730163, 5.046419618748985e-46),
  2858: (0.1576311701503204, 6.262199650679122e-11),
  1641: (0.3120980300856471, 2.07504205127016e-39),
  357: (0.21778298777252086, 4.893997582253074e-19),
  1196: (0.08715294212837107, 0.00043251558374476695),
  260: (0.14420759541219202, 5.474580355270787e-09),
  1784: (0.17445055859165454, 2.4020307096166887e-12)},
 1650: {1650: (0.9999999999999999, 0.0),
  1617: (0.14973955983133852, 0.005883867474822905),
  608: (0.18082143706608447, 0.0008852896697924891),
  1183: (0.19647724275083236, 0.0003031831315392363),
  593: (0.03465346689559114, 0.530455230835719),
  1704: (0.11556748162121387, 0.03820309351081583),
  1721: (0.10524855011047345, 0.061662052792115375),
  296: (-0.002566976852619151, 0.963805799331684),
  527: (0.0872990137550619, 0.12265581203821979),
  17: (0.3784417866072262, 9.398917734052956e-12),
  2396: (0.1827707514502209, 0.0013969604459706999),
  318: (0.14072608698217695, 0.01557021320313315),
  1641: (0.23866434713778753, 3.553981126275323e-05),
  1784: (0.10064657950890273, 0.08493290548507978),
  2858: (0.22351046835562782, 0.00011104880590222504),
  356: (0.1021162059144235, 0.08418104587886455),
  1196: (0.033038160677153046, 0.5819686684233629),
  34: (0.2386929513670082, 5.639113253443185e-05),
  1094: (0.202111813752784, 0.0007317011619692885),
  1265: (0.06413404539713675, 0.28924023278167954)},
 2570: {2570: (1.0, 0.0),
  2396: (0.22747198462803048, 6.7518605954531404e-09),
  2858: (0.1883498075112058, 1.8920949919489202e-06),
  608: (0.19344369012186197, 2.6381417991866207e-06),
  593: (-0.058201269996348746, 0.17249357903877544),
  356: (0.07724438308964958, 0.07183232433494854),
  296: (0.008954511946596468, 0.8350848440713527),
  318: (0.11493499887386587, 0.007731923443501655),
  1617: (0.14168459563952748, 0.0010613589527735739),
  2028: (0.08824416259966132, 0.042285482227300726),
  2571: (0.04923471691434247, 0.25830543539132467),
  2762: (0.12880899040261715, 0.003053211756314853),
  1265: (-0.048741620039724494, 0.26447444073211956),
  1721: (0.13889125502886346, 0.0015304527281656585),
  1704: (0.17298999907463944, 8.074927253918013e-05),
  527: (0.05231937909613486, 0.23729761406934388),
  2997: (0.12835499874746426, 0.0038973170009491713),
  2599: (0.16285997930966967, 0.0002444570950666306),
  357: (0.15324445784587581, 0.0006002849178274241),
  1393: (0.14049127637619205, 0.0017468581875398062)},
 2571: {2571: (0.9999999999999979, 0.0),
  356: (0.22220054577795073, 0.0),
  260: (0.306491037896588, 0.0),
  318: (0.234491865270635, 0.0),
  296: (0.21892539593234497, 0.0),
  593: (0.20943696540113738, 0.0),
  1196: (0.30056586381723205, 0.0),
  2959: (0.30672637460018415, 0.0),
  4993: (0.3217637791956458, 0.0),
  480: (0.27749477153902447, 0.0),
  1198: (0.2465365105071891, 0.0),
  2858: (0.16963327231007638, 5.377387201713334e-221),
  1270: (0.24629225204534688, 0.0),
  2762: (0.26766982095378616, 0.0),
  1210: (0.302538156637929, 0.0),
  589: (0.3370142035168383, 0.0),
  5952: (0.31967224942452027, 0.0),
  7153: (0.3174754525205603, 0.0),
  110: (0.28120331217130934, 0.0),
  2028: (0.2332859547131406, 0.0)},
 2581: {2581: (0.9999999999999929, 0.0),
  2858: (0.013021440948594757, 0.3527952798016091),
  356: (0.15868013363948638, 7.512484150446243e-30),
  2762: (0.24329101802102168, 4.695764923343893e-68),
  2571: (0.09075926157767929, 2.0417821468658563e-10),
  2683: (0.18178002781907623, 2.6676620158791155e-34),
  480: (0.13692030529327773, 5.937150280876142e-20),
  593: (0.05179221193537532, 0.0006390141213141918),
  1580: (0.2763044623873568, 7.65860625321495e-77),
  1270: (0.1624778640046251, 4.905179341056387e-27),
  1721: (0.30202660218555905, 6.479225053312541e-92),
  2959: (-0.024236611725324368, 0.11100601571790983),
  1: (0.19740046566020308, 3.950500193060898e-39),
  2706: (0.24278137500270874, 1.7284768846620785e-58),
  318: (0.14273228542685107, 1.0335304233939844e-20),
  2396: (0.22023039890572613, 1.2811317404973146e-46),
  2716: (0.14754171498302385, 1.4394952206433469e-21),
  260: (0.08145373094464885, 1.5580360815962383e-07),
  296: (-0.08004452188062502, 2.7268672045292557e-07),
  1210: (0.09462542359739676, 1.187941365695519e-09)},
 133645: {133645: (1.0, 0.0),
  79132: (-0.004529690148559557, 0.9700938759779707),
  2571: (0.13672532380564137, 0.27365276360629215),
  58559: (-0.09079891790139455, 0.4719387650396595),
  356: (0.09108057542541023, 0.4741312905597631),
  4993: (0.29491468763642664, 0.019969718041954066),
  81845: (0.5091569534851494, 2.378766487232849e-05),
  296: (0.31979364731288357, 0.011992957227363222),
  7153: (0.20495089852482207, 0.11308612478607634),
  68954: (0.056793224794439094, 0.6637482805186192),
  7361: (0.1041471252206404, 0.4284149418550356),
  260: (0.48442458508610964, 0.0001012001685404794),
  318: (0.16406358180406388, 0.21435953455072326),
  593: (0.3087088925187469, 0.017363106996245343),
  2858: (0.12274133770584375, 0.3543782856853081),
  2959: (-0.018943590836631646, 0.8867578294931525),
  5952: (0.295476530941441, 0.02308485004922221),
  81591: (0.4199888528445903, 0.001030317380553171),
  858: (0.5263772609046019, 2.60333283394356e-05),
  6377: (0.20166618871021347, 0.13249948058738412)}}